/* ================= Step3 Genel ================= */
.step3 {
  min-height: 100vh;
  box-sizing: border-box;
   background: linear-gradient(to bottom, #fffefa 0%, #FFFBDD 52%,  #FFFBDD 100%);
  justify-content: center;
}

.step3-content {
  width: 100%;
  padding-top: 120px ;
 max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* ================= Header ================= */
.step3-header {
  text-align: center;
}

.step3-text {
  max-width: 520px;
}

.step3-header h2 {
 font-family: var(--font-lazzer-SemiBold);
  font-size: 52px;
 line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--color-heading-h1);
  margin-bottom: 20px;
  max-width: 500px;
}

.step3-description {
    font-family: var(--font-lazzer-Medium);
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  font-size: 18px;
  color: var(--color-description-p1);
  margin: 0 auto 32px auto;
  max-width: 500px;
  box-sizing: border-box;
}

/* ================= Favicon Grid ================= */
.step3-favicon-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.step3-favicon-item {
  width: 100%;
  aspect-ratio: 1;
  height: 150px;
   background-color: var(--color-hero-bg-yellow-hover);
  border: 1.5px solid var(--color-hero-bg-yellow-hover);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  
}

.step3-favicon-item:hover {
  border-color:#000000;
}

.step3-favicon-item.selected {
  border-color: #000000;
}

.step3-favicon-item img {
  max-width: 70%;
  max-height: 70%;
}

.step3-continue-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin: 0 auto;
  box-sizing: border-box;
}

.step3-continue-right {
font-family: var(--font-lazzer-SemiBold);
  font-size: var(--font-size-xs);
  width: 100%;
  width: 150px;
  height: 44px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: var(--btn-black-bg);
  cursor: pointer;
   color: var(--btn-black-text);
  transition: all 0.2s ease;
   margin-bottom: 40px;
}

.step3-continue-right:hover {
  background: var(--btn-black-bg-hover);
}

.step3-continue-right:disabled {
   background: #2c2c2c;
  cursor: not-allowed;
  opacity: 0.5;
}

/* ARROW CIRCLE */

.arrow-circle {
  width: 36px;
  height: 36px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step3-continue-right:hover .arrow-circle {
 background: var(--btn-black-bg-hover);
}

.step3-continue-right:disabled .arrow-circle {
   background: #2c2c2c;
  cursor: not-allowed;
  opacity: 0.5;
}

.step3-back-button {
  font-family: var(--font-lazzer-SemiBold);
  font-size: var(--font-size-xs);
  height: 44px;
  padding: 8px 18px 8px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--color-border-b2);
  background: #ded9bd;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-description-p1);
  transition: all 0.2s ease;
  margin-bottom: 40px;
}

.step3-back-button:hover {
  background: #c6c2ab;
  border-color: var(--color-border-b2);
  color: var(--color-heading-h1);
}




@media (max-width: 1000px) {
  .step3 {
     padding: 0 32px;
}
  .step3-content {
  padding-top: 140px;
  }


  .step3-content h2 {
     font-size: 48px;
    max-width: 400px;
    margin: 0 auto;
  }

  .step3-description {
   font-size: 18px;
    margin-bottom: 32px;
    margin-top: 20px;
  }
    .step3-continue-container {
    padding-top: 32px;
}
}

@media (max-width: 768px) {
     .step3 {
      padding: 0 30px;
  }
  .step3-content {
    padding-top: 120px;
  }


   .step3-content h2 {
  font-size: 40px;
  }

  .step3-description {
      font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step3-favicon-options {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

   .step3-favicon-item {
    height: 180px;
  }

  .step3-continue-container {
     position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 16px 30px;
    background-color: #F4EFD3;
    border-top: 1px solid var(--color-border-b2);
    justify-content: center;
    z-index: 999;
    gap: 16px;
  }

  .step3-continue-right {
    width: 100%;
    max-width: 100%;
    height: 52px;
    font-size: 16px;
      margin: 0;
  }

  .arrow-circle {
    width: 28px;
    height: 28px;
  }

   .step3-back-button {
    width: 30%;
    font-size: 16px;
    height: 52px;
    padding: 8px 18px 8px 12px;
    justify-content: center;
      margin: 0;
  }

 
}

@media (max-width: 640px) {
    .step3 {
      padding: 0 24px;
  }

  .step3-content {
    padding-top: 120px;
  }

  .step3-content h2 {
     font-size: 38px;
    max-width: 400px;
    margin: 0 auto;
  }

  .step3-description {
   font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step3-favicon-item {
    height: 150px;
  }

  .step3-continue-container {
    padding: 16px 24px;
  }
}


@media (max-width: 430px) {
    .step3 {
    padding: 0 20px;
  }

  .step3-content {
    padding-top: 120px;
  }

  .step3-content h2 {
    font-size: 36px;
    max-width: 300px;
    margin: 0 auto;
  }

  .step3-description {
   font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step3-favicon-item {
    height: 140px;
  }

  .step3-continue-container {
    padding: 16px 20px;
  }
}

