  .step6 {
  min-height: 100vh;
  box-sizing: border-box;
  background: #F8F8F7;
}

.step6-content {
  width: 100%;
  padding-top: 40px;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.step6-header {
  text-align: center;
  margin-bottom: 32px;
  max-width: 520px;
}

.step6-text h2 {
  font-family: var(--font-Geist-SemiBold);
  font-size: 32px;
  line-height: var(--lh-heading-3);
  letter-spacing: -0.04em;
  color: var(--color-heading-h1);
  margin-bottom: 16px;
  max-width: 550px;
  text-align: left;
}

.step6-description {
  font-family: var(--font-Geist-Medium);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  text-align: left;
  font-size: 16px;
  color: #5E5E5B;
  margin: 0 0 24px 0;
  max-width: 700px;
  box-sizing: border-box;
}

.step6-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 sütun */
  gap: 12px; /* boşluklar */
  margin-top: 12px;
}

.step6-logo-item {
  border-radius: 14px;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  height: 300px;
}

.step6-logo-item:hover {
  border: 2px solid black;
}

.step6-logo-item .icon {
  display: block;
  font-size: 36px;
  margin-bottom: 12px;
}

.step6-logo-item .text {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.step6-more-button {
  font-family: var(--font-Geist-SemiBold);
  min-height: 44px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #002f46;
  transition: all 0.2s ease;
  margin: 0 auto;
}

.step6-more-button:hover {
  background: #f9fafb;
  border-color: #d1d5db;
}


@media (max-width: 1300px) {
  .step6 {
      padding: 0 32px;
  }

   .step6-content {
     padding-top: 40px;
  }

   .step6-content h2 {
    font-size: 44px;
    margin: 0;
  }
  
}

@media (max-width: 1000px) {
  .step6 {
     padding: 0 32px;
  }

   
  .step6-content {
     padding-top: 40px;
  }

  .step6-options {
    grid-template-columns: repeat(2, 1fr); /* 2'li yan yana */
    gap: 16px;
  }

  .step6-logo-item {
    height: 350px; /* kutular biraz büyüsün, logo daha rahat görünsün */
  }
  .step6-header {
    display: block;
    align-items: left;
    margin-bottom: 42px;
  }

  .step6-content h2 {
    font-size: 42px;
    margin: 0;
    text-align: left;
  }

  .step6-description {
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 20px;
  }
  .custom-select-trigger {
    min-height: 52px;
    padding: 8px 16px;
  }

  /* continue button fixed altta */
  .step6-continue-right {
    position: fixed;
    bottom: 32px;
    font-size: 16px;
    left: 42px;
    width: calc(100% - 84px);
    max-height: 52px;
    padding: 9px 9px 9px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    z-index: 999;
  }

  .step6-continue-right .arrow-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 768px) {
  .step6 {
    padding: 0 30px;
  }

  .step6-content {
     padding-top: 40px;
  }

  .step6-options {
    gap: 16px;
  }

  .step6-logo-item {
    height: 300px; /* kutular biraz büyüsün, logo daha rahat görünsün */
  }


  .step6-content h2 {
    font-size: 40px;
    text-align: left;
  }

  .step6-description {
     font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }
}

@media (max-width: 640px) {
  .step6 {
     padding: 0 24px;
  }

  .step6-content {
   padding-top: 40px;
  }

  .step6-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .step6-options {
    gap: 16px;
  }

  .step6-logo-item {
    height: 350px; /* kutular biraz büyüsün, logo daha rahat görünsün */
  }


  .step6-content h2 {
    font-size: 38px;
    margin: 0;
    text-align: left;
  }

  .step6-description {
     font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }
}

@media (max-width: 430px) {
  .step6 {
 padding: 0 20px;
  }

  .step6-content {
     padding-top: 40px;
  }

  .step6-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .step6-logo-item {
    height: 300px; /* kutular biraz büyüsün, logo daha rahat görünsün */
  }

  .step6-header {
    margin-bottom: 24px;
  }

  .step6-content h2 {
    font-size: 36px;
    margin: 0;
    text-align: left;
  }

  .step6-description {
   font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step6-options {
    gap: 16px;
  }
}
