/* ================= Step3 Genel ================= */
.step3 {
  min-height: 100vh;
  box-sizing: border-box;
  background: #F8F8F7;
  justify-content: center;
}

.step3-content {
  width: 100%;
  padding-top: 120px ;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
}

/* ================= Header ================= */
.step3-header {
  text-align: cleft;
}

.step3-text {
  max-width: 550px;
}

.step3-header h2 {
  font-family: var(--font-Geist-SemiBold);
  font-size: 32px;
  line-height: var(--lh-heading-3);
  letter-spacing: -0.04em;
  color: var(--color-heading-dark-1);
  margin-bottom: 16px;
  max-width: 450px;
  text-align: left;
}

.step3-description {
  font-family: var(--font-Geist-Medium);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  text-align: left;
  font-size: 16px;
  color: var(--color-subtitle-dark-2);
  margin: 0 0 24px 0;
  max-width: 700px;
  box-sizing: border-box;
}

/* ================= Favicon Grid ================= */
.step3-favicon-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.step3-favicon-item {
  width: 100%;
  aspect-ratio: 1;
  height: 150px;
   background-color: white;
  border: 1px solid  #E5E7EB;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  
}

.step3-favicon-item:hover {
  border: 1.5px solid  #000000;
}

.step3-favicon-item.selected {
  border: 1.5px solid  #000000;
}

.step3-favicon-item img {
  max-width: 50%;
  max-height: 50%;
}

.step3-continue-container {
 width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  box-sizing: border-box;
  margin: 0 auto;
}

.step3-continue-right {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--btn-text-3);
  height: 44px;
  padding: 8px 16px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  background: var(--color-button-green-BG);
  cursor: pointer;
  color: var(--color-button-green-text);
  transition: all 0.2s ease;
  margin-left: auto;
}

.step3-continue-right:hover {
  background: var(--color-button-green-hover);
}

.step3-continue-right:disabled {
   background: #F1F1F1;
  cursor: not-allowed;
  color: #191919;
}

/* ARROW CIRCLE */

.arrow-circle {
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step3-continue-right .arrow-circle {
 background: transparent;
}

.step3-continue-right:hover .arrow-circle {
 background: transparent;
}

.step3-continue-right:disabled .arrow-circle {
  background: transparent;
  color: #191919;
}

.step3-continue-right:disabled .arrow-circle svg {
  stroke: #191919;
}


.step3-back-button {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--btn-text-3);
  padding: 10px 18px 10px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  color: #191919;
  transition: all 0.2s ease;
}

.step3-back-button:hover {
  background: #F1F1F1;
  border-color: #F1F1F1;
}




@media (max-width: 1000px) {
  .step3 {
     padding: 0 32px;
}
  .step3-content {
  padding-top: 140px;
  }


  .step3-content h2 {
    font-size: 42px;
    margin: 0;
    text-align: left;
  }

  .step3-description {
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 20px;
  }
    .step3-continue-container {
    padding-top: 32px;
}
}

@media (max-width: 768px) {
     .step3 {
      padding: 0 30px;
  }
  .step3-content {
    padding-top: 120px;
  }


   .step3-content h2 {
     font-size: 40px;
    text-align: left
  }

  .step3-description {
      font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step3-favicon-options {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

   .step3-favicon-item {
    height: 180px;
  }

  .step3-continue-container {
     position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 16px 30px;
    background-color: #F8F8F7;
    border-top: 1px solid var(--color-border-b2);
    justify-content: center;
    z-index: 999;
    gap: 16px;
  }

  .step3-continue-right {
    width: 100%;
    max-width: 100%;
    height: 52px;
    font-size: 16px;
      margin: 0;
  }

  .arrow-circle {
    width: 28px;
    height: 28px;
  }

   .step3-back-button {
    width: 30%;
    font-size: 16px;
    height: 52px;
    padding: 8px 18px 8px 12px;
    justify-content: center;
      margin: 0;
  }

 
}

@media (max-width: 640px) {
    .step3 {
      padding: 0 24px;
  }

  .step3-content {
    padding-top: 120px;
  }

  .step3-content h2 {
    font-size: 38px;
    margin: 0;
    text-align: left;
  }

  .step3-description {
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step3-favicon-item {
    height: 150px;
  }

  .step3-continue-container {
    padding: 16px 24px;
  }
}


@media (max-width: 430px) {
    .step3 {
    padding: 0 20px;
  }

  .step3-content {
    padding-top: 120px;
  }

  .step3-content h2 {
    font-size: 36px;
    margin: 0;
    text-align: left;
  }

  .step3-description {
    font-size: 16px;
    margin-bottom: 24px;
    margin-top: 16px;;
  }

  .step3-favicon-item {
    height: 140px;
  }

  .step3-continue-container {
    padding: 16px 20px;
  }
}

