.step1 {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #fffefa 0%, #FFFBDD 52%, #FFFBDD 100%);
}

.step1-content {
  margin-top: 120px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======================
   HEADER
   ====================== */

.step1-header {
  text-align: center;
}

.step1-text {
  max-width: 520px;
}

.step1-content h2 {
  font-family: var(--font-lazzer-SemiBold);
  font-size: 52px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--color-heading-h1);
  margin-bottom: 20px;
  max-width: 850px;
}

.step1-description {
  font-family: var(--font-lazzer-Medium);
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  font-size: 18px;
  color: var(--color-description-p1);
  margin: 0 auto 32px auto;
  max-width: 500px;
  box-sizing: border-box;
}

/* ======================
   INPUT
   ====================== */

.step1-input-container {
  background-color: var(--color-hero-bg-yellow-hover);
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.step1-input-container:hover {
  background-color: var(--color-heading-h1);
}

.input-wrapper {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 56px;
  background: var(--color-hero-bg-yellow-hover);
  border-radius: 8px;
  overflow: visible;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  box-sizing: border-box;
  min-width: 0;
}

.step1-input-container input {
  font-family: var(--font-lazzer-SemiBold);
  flex: 1;
  padding: 0 16px;
  font-size: 15px;
  color: var(--color-heading-h1);
  border: 1px solid var(--color-hero-bg-yellow-hover);
  outline: none;
  background: var(--color-hero-bg-yellow-hover);
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
}

.step1-input-container input::placeholder {
  color: var(--color-description-p2);
}

.clear-input {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background: var(--grey-100);
  cursor: pointer;
}

.clear-input:hover {
  background: var(--grey-200);
}

/* ======================
   CONTINUE BUTTON
   ====================== */

.step1-continue-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 28px;
  box-sizing: border-box;
}

.step1-continue-right {
  font-family: var(--font-lazzer-SemiBold);
  font-size: var(--font-size-xs);
  width: 150px;
  height: 44px;
  padding: 8px 8px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: var(--btn-black-bg);
  cursor: pointer;
  color: var(--btn-black-text);
  transition: all 0.2s ease;
}

.step1-continue-right:hover {
  background: var(--btn-black-bg-hover);
}

.step1-continue-right:disabled {
  background: #2c2c2c;
  cursor: not-allowed;
  opacity: 0.5;
}

/* ARROW */

.arrow-circle {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step1-continue-right:hover .arrow-circle {
  background: var(--btn-black-bg-hover);
}

.step1-continue-right:disabled .arrow-circle {
  background: #2c2c2c;
  color: var(--grey-100);
}

/* ======================
   RESPONSIVE
   ====================== */

@media (max-width: 1000px) {
  .step1 {
    padding: 0 32px;
  }

  .step1-content {
    margin-top: 140px;
  }

  .step1-content h2 {
    font-size: 48px;
    max-width: 400px;
    margin: 0 auto;
  }

  .step1-description {
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 20px;
  }


  .step1-continue-container {
    padding-top: 32px;
}
}

@media (max-width: 768px) {
  .step1 {
    padding: 0 30px;
  }

  .step1-content {
    margin-top: 120px;
  }

  .step1-content h2 {
    font-size: 40px;
  }

  .step1-description {
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step1-continue-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 16px 30px;
    background-color: #F4EFD3;
    border-top: 1px solid var(--color-border-b2);
    justify-content: center;
    z-index: 999;
  }

  .step1-continue-right {
    width: 100%;
    max-width: 100%;
    height: 52px;
    font-size: 16px;
  }

  .arrow-circle {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 640px) {
  .step1 {
    padding: 0 24px;
  }

  .step1-content {
    margin-top: 120px;
  }

  .step1-content h2 {
    font-size: 38px;
    max-width: 400px;
    margin: 0 auto;
  }

  .step1-description {
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step1-continue-container {
    padding: 16px 24px;
  }
}

@media (max-width: 430px) {
  .step1 {
    padding: 0 20px;
  }

  .step1-content {
    margin-top: 120px;
  }

  .step1-content h2 {
    font-size: 36px;
    max-width: 300px;
    margin: 0 auto;
  }

  .step1-description {
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 18px;
  }

  .step1-continue-container {
    padding: 16px 20px;
  }
}