.comment-section {
  padding: 75px 24px;
  text-align: center;
}

.comment-header {
  text-align: center;
  margin-bottom: var(--space-5);
}

/* Üst başlık */
.comment-header h2 {
  font-family: var(--font-National-Bold);
  font-size: clamp(42px, 8vw, 60px);
  line-height: var(--lh-heading-1);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-dark-2);
  max-width: 700px;
  margin: 0 auto var(--space-4) auto;
}


.comment-description {
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-6);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-normal);
  color: var(--color-subtitle-dark-1);
  max-width: 500px;
  margin: 0 auto;
}

/* Grid yapısı */
.comment-grid {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-3);
  text-align: left;
}

/* Kart tasarımı */
.comment-card {
  border-radius: var(--radius-sm);
  min-height: 220px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
  background-color: var(--color-yellow-light-BG);
}

/* Kart metni */
.comment-text {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--subtitle-6);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-subtitle-dark-1);
  margin-bottom: 32px;
}

/* Footer (avatar + isim) */
.comment-footer {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.comment-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-name {
  font-family: var(--font-Geist-SemiBold);
  font-size: 15px;
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  margin: 0;
  padding-bottom: var(--space-1);
  color: var(--color-subtitle-dark-2);
}

.comment-title {
  font-family: var(--font-Geist-Medium);
  font-size: 13px;
  line-height: var(--lh-button);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-caption-dark-2);
  margin: 0;
}

@media (max-width: 1300px) {
  .comment-section {
    padding: 70px 40px;
  }


}

@media (max-width: 1200px) {
  .comment-section {
    padding: 60px 32px;
  }
}

@media (max-width: 1000px) {
  .comment-section {
    padding: 50px 32px;
    text-align: left;
  }

  .comment-header h2 {
    max-width: 600px;
    margin: 0 0 16px 0;
  }


  .comment-description {
    max-width: 550px;
    margin: 0;
  }

  .comment-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2’li kolon */
  }

  .comment-header {
    margin-bottom: 32px;
    /* H2 ile kartlar arası boşluk */
    text-align: left;
  }


}

@media (max-width: 768px) {
  .comment-section {
    padding: 50px 0 50px 30px;
  }

  .comment-header {
    margin-bottom: 32px;
    /* H2 ile kartlar arası boşluk */
    text-align: left;
  }

  .comment-header h2 {
    max-width: 550px;
    margin: 0 0 16px 0;
  }


  .comment-description {
    max-width: 550px;
    margin: 0;
  }

  .comment-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scrollbar-width: none;
  }


  .comment-card {
    max-width: 440px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }

  .comment-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: box;
    box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 640px) {
  .comment-section {
    padding: 40px 0 40px 24px;
  }

  .comment-header {
    margin-bottom: var(--space-5);
    /* H2 ile kartlar arası boşluk */
    text-align: left;
  }


  .comment-header h2 {
    max-width: 500px;
    margin: 0 0 16px 0;
  }


  .comment-description {
    max-width: 450px;
    margin: 0;
  }

  .comment-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
  }

  .comment-card {
    max-width: 380px;
    scroll-snap-align: center;
    flex-shrink: 0;
  }

  .comment-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Maksimum 2 satır */
    -webkit-box-orient: vertical;
    display: box;
    box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 550px) {

  .comment-header h2 {
    max-width: 450px;
  }

  .comment-description {
    max-width: 420px;

  }
}

@media (max-width: 430px) {
  .comment-section {
    padding: 40px 0px 40px 20px;
  }

  .comment-header {
    margin-bottom: 24px;
    text-align: left;
  }


  .comment-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
  }

  .comment-card {
    max-width: 330px;
    scroll-snap-align: start;
    flex-shrink: 0;
    padding: 16px;
  }
}