.faq-section {
  width: 100%;
  padding: 75px 24px 150px;
  display: flex;
  justify-content: center;
}

.faq-container {
  max-width: var(--container-max-width);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: var(--space-9);
}

/* Left Column */
.faq-left {
  display: flex;
  flex-direction: column;
}

.faq-sub {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--caption-4);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
  background-color: var(--color-yellow-light-BG);
  color: var(--color-caption-dark-1);
  margin-bottom: var(--space-4);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-sm);
  width: fit-content;
}

.faq-title {
  font-family: var(--font-National-Bold);
  font-size: clamp(42px, 8vw, 60px);
  line-height: var(--lh-heading-1);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-dark-2);
  margin-bottom: var(--space-4);
}

.faq-description {
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-6);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-normal);
  color: var(--color-subtitle-dark-1);
  max-width: 800px;
  margin-bottom: var(--space-6);
}

.faq-contact {
  font-family: var(--font-Geist-SemiBold);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-normal);
  font-size: var(--subtitle-6);
  display: flex;
  align-items: center;
  gap: var(--space-4);
  background-color: var(--color-button-green-BG);
  color: var(--color-button-green-text);
  padding: var(--space-1-5) 20px var(--space-1-5) var(--space-1-5);
  border-radius: var( --radius-md);
  text-decoration: none;
  width: fit-content;
  transition: all 0.3s ease;
}

.faq-contact:hover {
  background-color: var(--color-button-green-hover);
}

.faq-contact-icon-box {
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--color-button-green-icon-box);
  color: var(--color-button-green-icon);
}

.faq-contact-text {
  font-family: var(--font-Geist-SemiBold);
  font-size: 15px;
  letter-spacing: var(--ls-tight-md);
  line-height: var(--lh-heading-1);
}

.mail-icon {
  margin-top: 0;
}

/* Right Column */
.faq-right {
  display: flex;
  flex-direction: column;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.faq-item {
  background-color: var(--color-yellow-light-BG);
  border-radius: var(--radius-md);
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.faq-question {
  font-family: var(--font-Geist-SemiBold);
  font-size: 15px;
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  padding: 6px 6px 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-heading-1);
}

.faq-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  min-width: 45px;
  background-color: var(--color-yellow-dark-BG);
  border-radius: var(--radius-xs);
  transition: background-color 0.3s ease;
  margin-left: 16px;
}


.faq-icon {
  transition: transform 0.3s ease;
  width: 24px;
  height: 24px;
  color: var(--color-heading-1);
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item.active .faq-answer {
  max-height: 400px;
}

.faq-answer-content {
  font-family: var(--font-Geist-Medium);
  padding: 0 50px 24px 16px;
}

.faq-answer-content p {
  font-family: var(--font-Geist-Medium);
  margin: 0;
  color: var(--color-subtitle-1);
  line-height: var(--lh-subtitle);
  font-size: var(--caption-4);
  letter-spacing: var(--ls-tight-md);
}

/* Responsive */
@media (max-width: 1300px) {
  .faq-section {
    padding: 70px 40px 140px 40px;
  }
  }
@media (max-width: 1200px) {
  .faq-section {
    padding: 60px 32px 120px 32px;
  }
  }

@media (max-width: 1000px) {
  .faq-section {
    padding: 50px 32px 100px 32px;
  }

  .faq-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

    .faq-description {
  max-width: 600px;
  margin-bottom: 24px;
}

  .faq-left {
    align-items: center;
     text-align: center;
}

}

@media (max-width: 768px) {
   .faq-section {
    padding: 50px 30px 100px 30px;
  }

  .faq-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .faq-description {
  max-width: 500px;
}

}


@media (max-width: 640px) {
   .faq-section {
    padding: 40px 24px 80px 24px;
  }

  .faq-container {
    grid-template-columns: 1fr;
    gap: 24px;
  }

    .faq-description {
  max-width: 400px;
}

}

@media (max-width: 430px) {
   .faq-section {
    padding: 40px 20px 80px 20px;
  }

}
