.testi-wrapper {
  width: 100%;
  padding: 80px 0;
}

.testi-container {
  max-width: var(--container-max-width);
  margin: auto;
}

/* header */

.testi-header {
  max-width: 640px;
  margin-bottom: var(--spacing-desc-to-content);
}

.testi-section-title {
  font-family: "Graphik-Bold", sans-serif;
  font-size: var(--section-title-size);
  color: var( --color-heading-h1);
  margin-bottom: var(--spacing-title-to-desc);
  line-height: var(--section-title-line-height);
  max-width: 450px;
}

.testi-section-desc {
  font-family: "Graphik-Regular", sans-serif;
  font-size: var(--section-desc-size);
  line-height: var(--section-desc-line-height);
  color: var(--color-description-p1);
}


.testi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.testi-card {
  display: flex;
  flex-direction: column;
}

.testi-image {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.testi-image img {
  width: 100%;
  height: auto;
  display: block;
}

.testi-content {
  margin-top: 20px;
}

.testi-title {
  font-family: "Graphik-SemiBold", sans-serif;
  max-width: 250px;
  font-size: var(--section-title-size-secondary);
  margin-bottom: 12px;
  line-height: 1.2;
  color: var( --color-heading-h1);
}

.testi-desc {
  font-family: "Graphik-Regular", sans-serif;
  font-size: var(--section-desc-size-secondary);
  line-height: 1.3;
  max-width: 360px;
  color: var(--color-description-p1);
}

/* responsive */

@media (max-width: 1300px) {
  .testi-wrapper {
    padding: 90px 0;
  }
  .testi-container {
    padding: 0 40px;
  }
  .testi-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .testi-wrapper {
    padding: 80px 0;
  }
  .testi-container {
    padding: 0 32px;
  }
  .testi-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .testi-wrapper {
    padding: 72px 0;
  }
  .testi-container {
    padding: 0 30px;
  }
  .testi-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .testi-desc {
  max-width: 700px;
}
}

@media (max-width: 640px) {
  .testi-wrapper {
    padding: 60px 0;
  }
  .testi-container {
    padding: 0 24px;
  }
  .testi-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .testi-desc {
  max-width: 500px;
}
}


@media (max-width: 430px) {
  .testi-wrapper {
    padding: 50px 0;
  }
  .testi-container {
    padding: 0 20px;
  }
  .testi-grid {
    gap: var(--padding-inner-y-mobile);
  }

  .testi-content {
    margin-top: 20px;
  }

  .testi-section-title {
    max-width: 300px;
    margin-bottom: 20px;
  }
}
