.testi-wrapper {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(to bottom, #D8F0EB 0%, #D9F0EB 50%, #FFFFFF 100%);
}

.testi-container {
  max-width: 1232px;
  margin: auto;
}

/* header */

.testi-header {
  max-width: 640px;
  margin-bottom: 32px;
}

.testi-section-title {
  font-family: var(--font-lazzer-SemiBold);
  font-size: 46px;
  color: #171717;
  margin-bottom: 20px;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.testi-section-desc {
   font-family: var(--font-lazzer-Medium);
  font-size: 18px;
  color: #000000;
  max-width: 800px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}


.testi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.testi-card {
  display: flex;
  flex-direction: column;
}

.testi-image {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.testi-image img {
  width: 100%;
  height: auto;
  display: block;
}

.testi-content {
  margin-top: 20px;
}

.testi-title {
    font-family: var(--font-lazzer-SemiBold);
  font-size: 24px;
  color: #171717;
  margin-bottom: 12px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  max-width: 250px;
}

.testi-desc {
   font-family: var(--font-lazzer-Medium);
  font-size: 16px;
  color: #000000;
  max-width: 360px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

/* responsive */

@media (max-width: 1300px) {
  .testi-wrapper {
    padding: 90px 0;
  }
  .testi-container {
    padding: 0 40px;
  }
  .testi-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .testi-wrapper {
    padding: 80px 0;
  }
  .testi-container {
    padding: 0 32px;
  }
  .testi-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .testi-wrapper {
    padding: 72px 0;
  }
  .testi-container {
    padding: 0 30px;
  }
  .testi-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .testi-desc {
  max-width: 700px;
}
}

@media (max-width: 640px) {
  .testi-wrapper {
    padding: 60px 0;
  }
  .testi-container {
    padding: 0 24px;
  }
  .testi-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .testi-desc {
  max-width: 500px;
}
}


@media (max-width: 430px) {
  .testi-wrapper {
    padding: 50px 0;
  }
  .testi-container {
    padding: 0 20px;
  }
  .testi-grid {
    gap: var(--padding-inner-y-mobile);
  }

  .testi-content {
    margin-top: 20px;
  }

  .testi-section-title {
    max-width: 300px;
    margin-bottom: 20px;
  }
}
