.categoryhero {
  padding: 150px 20px;
  background: var(--color-green-BG);
}

.categoryhero-container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.categoryhero-badge {
  font-family: var(--font-Geist-SemiBold);
  font-size: 15px;
  line-height: var(--lh-button);
  letter-spacing: var(--ls-tight-md);
  background-color: var(--color-badge-bg);
  gap: var(--space-2);
  padding: var(--space-2) var(--space-4);
  background: var(--color-green-dark-BG);
  border-radius: var(--radius-sm);
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  color: var(--color-heading-light-2);
}

.categoryhero-title {
  font-family: var(--font-National-Bold);
  font-size: clamp(54px, 10vw, 72px);
  line-height: var(--lh-heading-1);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-light-1);
  margin-bottom: var(--space-5);
  text-transform: uppercase;
  text-align: left;
}

.categoryhero-description {
  font-family: var(--font-Geist-Medium);
  font-size: clamp(16px, 2.2vw, 18px);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-normal);
  color: var(--color-subtitle-white-1);
  margin-bottom: var(--space-6);
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.categoryhero-avatars-sub {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}

.categoryhero-avatars {
  display: flex;
  align-items: center;
}

.avatar-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-left: -16px;
  position: relative;
  display: block;
  background: #fff;
}

.avatar-circle:first-child {
  margin-left: 0;
  z-index: 1;
}

.avatar-circle:nth-child(2) {
  z-index: 2;
}

.avatar-circle:nth-child(3) {
  z-index: 3;
}

.categoryhero-sub {
  font-family: "Graphik-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-white);
  max-width: 300px;
}

.categoryhero-input {
  font-family: var(--font-Geist-Medium);
  display: flex;
  background: white;
  border-radius: var(--radius-lg);
  padding: var(--space-1-5);
  width: 500px;
  max-width: 100%;
  max-height: 68px;
  box-sizing: border-box;
}


.categoryhero-input-field {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--subtitle-6);
  color: var(--color-heading-1);
  letter-spacing: var(--ls-tight-xl);
  flex: 1;
  border: none;
  outline: none;
  padding: 18px 14px;
  border-radius: var(--radius-xs);
  background-color: white;
  box-sizing: border-box;
  min-width: 0;
}

.categoryhero-input-field::placeholder {
  color: #999;
  opacity: 1;
}

.categoryhero-input-button {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--btn-text-2);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
  background: var(--color-button-green-BG);
  color: var(--color-button-green-text);
  border: none;
  border-radius: var(--radius-md);
  padding: var(--space-1-5) var(--space-1-5) var(--space-1-5) var(--space-5);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--space-5);
  white-space: nowrap;
  transition:
    background 0.2s ease,
    color 0.2s ease,
    transform 0.1s ease;
    max-height: 58px;
}

.categoryhero-input-button:hover {
  opacity: 0.9;
}

.categoryhero-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background: var(--color-button-green-icon-box);
  color: var(--color-button-green-icon);
  border-radius: var(--radius-sm);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}


.categoryhero-input-button svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}

.categoryhero-right {
   width: 100%;
  aspect-ratio: 52 / 50;
  height: auto;
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  margin-left: auto;
}

.categoryhero-mainimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .categoryhero {
    padding: 150px 40px 130px 40px;
  }
  
  .categoryhero-input {
    width: 100%;
    max-width: 550px;
  }
}

@media (max-width: 1200px) {
  .categoryhero {
    padding: 150px 32px 120px 32px;
  }
  
  .categoryhero-input {
    width: 530px;
    max-width: 100%;
    max-height: 76px;
    box-sizing: border-box;
  }
}

@media (max-width: 1100px) {
  
  .categoryhero-input {
    width: 460px;
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .categoryhero {
    padding: 160px 32px 120px 32px;
  }

  .categoryhero-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .categoryhero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .categoryhero-title {
     max-width: 650px;
     text-align: center;
  }

  .categoryhero-badge {
    align-items: center;
  }

  .categoryhero-description {
    text-align: center;
  }

  .categoryhero-avatars-sub {
    justify-content: center;
  }

  .categoryhero-right {
    margin: 0 auto;
  }

  .categoryhero-mainimg {
    width: 100%;
  }
  
  .categoryhero-input {
    width: 650px;
    max-width: 100%;
    max-height: 74px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .categoryhero {
    padding: 160px 32px 120px 32px;
  }

  .categoryhero-left {
    align-items: center;
  }

  .categoryhero-title {
    text-align: center;
    margin-bottom: 16px;
    max-width: 770px;
  }

  .categoryhero-badge {
    align-items: center;
    font-size: var(--caption-4);
    margin-bottom: 24px;
  }
 
  .categoryhero-description {
    text-align: center;
    max-width: 500px;
    margin-bottom: 32px;
  }

  .categoryhero-avatars-sub {
    justify-content: flex-start;
    align-items: center;
  }
  
  .categoryhero-input {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 640px;
    height: auto;
    max-height: none;
    border: none;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  .categoryhero-input-field {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--radius-lg);
    min-height: 74px;
    height: 74px;
    line-height: 74px;
    padding: 0 16px;
  }

  .categoryhero-input-field:focus {
    border-color: var(--color-heading-h1);
  }

  .categoryhero-input-button {
    font-size: var(--subtitle-5);
    border-radius: var(--radius-md);
    width: 100%;
    height: 62px;
    justify-content: center;
    position: relative;
    padding: 0;
  }

  .categoryhero-button-icon {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
  }

  .categoryhero-sub {
    margin-top: var(--space-5);
    max-width: 400px;
  }
}

@media (max-width: 900px) {
   .categoryhero-input-button {
    background-color: var( --color-button-yellow-BG);
    color: var(--color-button-yellow-text);
  }


   .categoryhero-input-button:hover {
    background-color: var(--color-button-yellow-hover);
  }

  .categoryhero-button-icon {
    background-color: var(--color-button-yellow-icon-box);
    color: var(--color-button-yellow-icon);
  }


  }

@media (max-width: 768px) {
  .categoryhero {
    padding: 160px 30px 120px 30px;
  }

  .categoryhero-left {
    align-items: center;
  }

  .categoryhero-title {
    text-align: center;
    margin-bottom: 16px;
    max-width: 770px;
  }

  .categoryhero-badge {
    align-items: center;
    font-size: var(--caption-4);
    margin-bottom: 16px;
  }
 
  .categoryhero-description {
    text-align: center;
    max-width: 500px;
    margin-bottom: 24px;
  }

  .categoryhero-avatars-sub {
    justify-content: flex-start;
    align-items: center;
  }
  
  .categoryhero-input {
    gap: var(--space-4);
    max-width: 550px;
  }

  .categoryhero-input-field {
    border-radius: var(--radius-lg);
    max-height: 64px;
    min-height: 64px;
    height: 64px;
    line-height: 64px;
  }

  .categoryhero-input-button {
    font-size: var(--subtitle-5);
    max-height: 58px;
    min-height: 58px;
    height: 58px;
  }
}

@media (max-width: 640px) {
  .categoryhero {
     padding: 160px 24px 120px;
  }

  .categoryhero-badge {
    font-size: var(--caption-4);
    margin-bottom: var(--space-4);
  }

  .categoryhero-title {
    max-width: 550px;
    margin-bottom: var(--space-4);
  }

  .categoryhero-description {
    max-width: 400px;
    margin-bottom: var(--space-5);
  }

  .categoryhero-right {
    height: 350px;
  }
  
  .categoryhero-input {
    max-width: 500px;
  }

  .categoryhero-sub {
    max-width: 330px;
  }
}

@media (max-width: 430px) {
  .categoryhero {
    padding: 150px 20px 110px;
  }
}