.categoryhero {
  padding: 150px 20px;
  background: var(--color-green-BG);
}

.categoryhero-container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.categoryhero-badge {
  font-family: var(--font-Geist-SemiBold);
  font-size: 15px;
  line-height: var(--lh-button);
  letter-spacing: var(--ls-tight-md);
  background-color: var(--color-badge-bg);
  gap: var(--space-2);
  padding: var(--space-2) var(--space-4);
  background: var(--color-green-dark-BG);
  border-radius: var(--radius-sm);
  margin-bottom: 20px;
  color: var(--color-heading-light-2);
  width: fit-content;
}

.categoryhero-title {
  font-family: var(--font-National-Bold);
  font-size: clamp(54px, 10vw, 72px);
  line-height: var(--lh-heading-1);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-light-1);
  margin-bottom: var(--space-5);
  text-transform: uppercase;
  text-align: left;
}

.categoryhero-description {
  font-family: var(--font-Geist-Medium);
  font-size: clamp(16px, 2.2vw, 18px);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-normal);
  color: var(--color-subtitle-white-1);
  margin-bottom: var(--space-6);
  max-width: 600px;
  width: 100%;
  text-align: left;
}

.categoryhero-avatars-sub {
  display: flex;
  align-items: center;
  gap: 16px;
}

.categoryhero-avatars {
  display: flex;
  align-items: center;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-green-BG);
  background: #DFDDD2;
  margin-left: -12px;
  position: relative;
}
.avatar-circle:first-child {
  margin-left: 0;
  background: #F6F4E8;
  z-index: 3;
}
.avatar-circle:nth-child(2) {
  background: #EAE8DD;
  z-index: 2;
}
.avatar-circle:nth-child(3) {
  z-index: 1;
}

.categoryhero-sub {
  font-family: "Graphik-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-white);
  max-width: 300px;
}

.categoryhero-input {
  font-family: var(--font-Geist-Medium);
  display: flex;
  background: white;
  border-radius: var(--radius-lg);
  padding: var(--space-1-5);
  width: 500px;
  max-width: 100%;
  max-height: 68px;
  box-sizing: border-box;
}


.categoryhero-input-field {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--subtitle-6);
  color: var(--color-heading-1);
  letter-spacing: var(--ls-tight-xl);
  flex: 1;
  border: none;
  outline: none;
  padding: 18px 14px;
  border-radius: var(--radius-xs);
  background-color: white;
  box-sizing: border-box;
  min-width: 0;
}

.categoryhero-input-field::placeholder {
  color: #999;
  opacity: 1;
}

.categoryhero-input-button {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--btn-text-2);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
  background: var(--color-button-green-BG);
  color: var(--color-button-green-text);
  border: none;
  border-radius: var(--radius-md);
  padding: var(--space-1-5) var(--space-1-5) var(--space-1-5) var(--space-5);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--space-5);
  white-space: nowrap;
  transition:
    background 0.2s ease,
    color 0.2s ease,
    transform 0.1s ease;
    max-height: 58px;
}

.categoryhero-input-button:hover {
  opacity: 0.9;
}

.categoryhero-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background: var(--color-button-green-icon-box);
  color: var(--color-button-green-icon);
  border-radius: var(--radius-sm);
  transition:
    background 0.2s ease,
    color 0.2s ease;
}


.categoryhero-input-button svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}

.categoryhero-right {
   width: 100%;
  aspect-ratio: 52 / 50;
  height: auto;
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  margin-left: auto;
}

.categoryhero-mainimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  .categoryhero {
    padding: 140px var(--container-padding) 80px;
  }

  .categoryhero-container {
   gap: clamp(60px, 8vw, 130px);
  }

  .categoryhero-mainimg {
  width: clamp(380px, 38vw, 500px);
    height: auto;
    aspect-ratio: 500 / 410;
  }

  .categoryhero-input {
   width: clamp(380px, 42vw, 500px);
  }

}

@media (max-width: 1000px) {
  .categoryhero {
     padding: 150px var(--container-padding) 80px;
  }

  .categoryhero-container {
     grid-template-columns: 1fr;
    text-align: center;
  }

  .categoryhero-right {
    display: none;
  }

  .categoryhero-left {
      display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categoryhero-title {
  font-size: 44px;
    line-height: 1.1;
    margin-bottom: 20px;
    max-width: 600px;
  }

  .categoryhero-description {
     font-size: 16px;
    width: auto;
    max-width: 550px;
  }

  .categoryhero-input {
   flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 560px;
    height: auto;
    max-height: none;
  }

  .categoryhero-input-field {
    color: var(--color-heading-dark-1);
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
  }

 
  .categoryhero-input-button {
      width: 100%;
    border-radius: 8px;
    height: 52px;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .categoryhero {
       padding: 120px 24px 80px;
  }

  .categoryhero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .categoryhero-right {
    display: none;
  }

  .categoryhero-left {
     display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categoryhero-badge {
    font-size: var(--font-size-2xs);
    margin-bottom: 20px;
  }

    .categoryhero-title {
    font-size: 38px;
    max-width: 450px;
  }

  .categoryhero-description {
       font-size: 17px;
    max-width: 500px;
  }

  .categoryhero-input {
      flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  .categoryhero-input-field {
     width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 56px;
    height: 56px;
    line-height: 56px;
    padding: 0 16px;
  }

 

  .categoryhero-input-button {
     width: 100%;
    border-radius: 8px;
    justify-content: center;
  }

  .categoryhero-sub {
    margin-top: 16px;
  }
}

@media (max-width: 430px) {
  .categoryhero {
    padding: 120px 20px 80px;
  }

  .categoryhero-container {
     gap: 40px;
  }

  .categoryhero-right {
    display: none;
  }

  .categoryhero-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categoryhero-badge {
    font-size: var(--font-size-2xs);
    margin-bottom: 20px;
  }


      .categoryhero-title {
    font-size: 36px;
    max-width: 380px;
  }

  .categoryhero-description {
        font-size: 16px;
        max-width: 380px;
  }

  .categoryhero-input {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  .categoryhero-input-field {
     width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 56px;
  }


  .categoryhero-input-button {
     width: 100%;
    border-radius: 8px;
    padding: 16px;
    justify-content: center;
  }

  .categoryhero-sub {
    margin-top: 16px;
  }
}