.pcs_section {
  background: linear-gradient(to bottom, #FFFFFF 0%, #D9F0EB 50%, #D8F0EB 100%);
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pcs_container {
  max-width: 1232px;
  width: 100%;
}

.pcs_header {
  margin-bottom: 32px;
}

.pcs_heading {
  font-family: var(--font-lazzer-SemiBold);
  font-size: 46px;
  color: #171717;
  margin-bottom: 20px;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.pcs_subtext {
  font-family: var(--font-lazzer-Medium);
  font-size: 18px;
  color: #000000;
  max-width: 800px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.pcs_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.pcs_card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}


.pcs_card_icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171717;
  margin-bottom: 20px;
}

.pcs_card_icon svg {
  width: 24px;
  height: 24px;
}

.pcs_card_title {
  font-family: var(--font-lazzer-SemiBold);
  font-size: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.pcs_card_desc {
  font-family: var(--font-lazzer-Medium);
  font-size: 16px;
  color: #000000;
  line-height: 1.3;
}

@media (max-width: 1300px) {
  .pcs_container {
  padding: 0 40px;
}
}

@media (max-width: 1200px) {
  .pcs_container {
  padding: 0 40px;
}
}

@media (max-width: 1000px) {

    .pcs_section {
    padding: 60px 0;
  }

    .pcs_container {
  padding: 0 32px;
}

  .pcs_grid {
    grid-template-columns: repeat(2, 1fr);
  }

     .pcs_heading {
    font-size: 38px;
  }

  .pcs_subtext {
  font-size: 18px;
}
}

@media (max-width: 768px) {
  .pcs_section {
    padding: 50px 0;
  }

    .pcs_container {
  padding: 0 30px;
}
  
  .pcs_grid {
    grid-template-columns: 1fr;
  }
  
   .pcs_heading {
    font-size: 38px;
  }

  .pcs_subtext {
  font-size: 18px;
}
}


@media (max-width: 640px) {
  .pcs_section {
    padding: 50px 0;
  }

  .pcs_container {
  padding: 0 24px;
}
  
  .pcs_grid {
    grid-template-columns: 1fr;
  }
  
  .pcs_heading {
    font-size: 38px;
  }

  .pcs_subtext {
  font-size: 16px;
}
}


@media (max-width: 430px) {
  .pcs_section {
    padding: 40px 0;
  }

  .pcs_container {
  padding: 0 20px;
}
  
  .pcs_grid {
    grid-template-columns: 1fr;
  }
  
  .pcs_heading {
    font-size: 36px;
  }

  .pcs_subtext {
  font-size: 16px;
}
}

