.home-section {
  padding: 50px 24px 0 24px ;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.hs-container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
}

/* BANNER */
.hs-banner {
  position: relative;
  border-radius: var(--radius-md);
  overflow: hidden;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hs-banner-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hs-banner-image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.hs-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hs-banner-content {
  position: relative;
  z-index: 2;
  background-color: var(--color-secondary-300);
  border-radius: var(--radius-md);
  margin: 12px;
  padding: 28px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
  margin-top: 340px;
}

.hs-banner-title {
  font-family: var(--font-National-Bold);
  font-size: 64px;
  color: var(--color-heading-dark-2);
  text-transform: uppercase;
  max-width: 480px;
  line-height: var(--lh-heading-2);
  letter-spacing: var(--ls-tight-xl);
  margin: 0;
}

.hs-banner-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 540px;
}

.hs-banner-desc {
  font-family: var(--font-Geist-Medium);
  font-size: 16px;
  color: var(--color-subtitle-dark-2);
  line-height: var(--lh-subtitle);
  margin-bottom: 28px;
}

.hs-btn {
  font-family: var(--font-Geist-SemiBold);
  display: inline-flex;
  align-items: center;
  background-color: var(--color-button-green-BG);
  color: var(--color-button-green-text);
  font-size: 15px;
  padding: 4px 4px 4px 16px;
  border-radius: var(--radius-md);
  transition: background-color 0.2s ease;
}

.hs-btn:hover {
  background-color: var(--color-button-green-hover);
}

.hs-btn-text {
  margin-right: 18px;
}

.hs-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--color-button-green-icon-box);
  color: var(--color-button-green-icon);
  border-radius: var(--radius-sm);
}

@media (max-width:  1300px) {
  .home-section {
    padding: 50px 40px 0 40px;
  }
}

@media (max-width:  1200px) {
  .home-section {
    padding: 50px 32px 0 32px;
  }
}

@media (max-width:  1100px) {
  .hs-banner-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .hs-banner-content {
    padding: 32px 24px;
    margin-top: 250px;
    gap: 16px;
  }
  .hs-banner-title {
    font-size: 48px;
  }
  .hs-banner-desc {
    font-size: 16px;
  }
  .hs-cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .home-section {
    padding: 50px 30px 0 30px;
  }
  .hs-banner-content {
    padding: 32px 24px;
    margin-top: 200px;
    gap: 16px;
  }
  .hs-banner-title {
    font-size: 48px;
  }
  .hs-banner-desc {
    font-size: 16px;
  }
  .hs-cards {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 640px) {
  .home-section {
    padding: 40px 24px 0 24px;
  }
  .hs-banner-content {
    padding: 24px 20px;
    margin-top: 200px;
    gap: 16px;
  }
  .hs-banner-title {
    font-size: 46px;
  }
  .hs-banner-desc {
    font-size: 16px;
  }
  .hs-cards {
    grid-template-columns: 1fr;
  }

}


@media (max-width: 430px) {
  .home-section {
    padding: 40px 20px 0 20px;
  }
  .hs-banner-content {
    padding: 24px 16px;
    margin-top: 200px;
    gap: 16px;
  }
  .hs-banner-title {
    font-size: 44px;
  }
  .hs-banner-desc {
    font-size: 16px;
  }
  .hs-cards {
    grid-template-columns: 1fr;
  }

 
}