.step-indicator-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.step-indicator-track {
  width: 100%;
  width: 280px;
  height: 4px;
  background-color: #EDEDED; /* gri arka */
  border-radius: 999px;
  overflow: hidden;
}

.step-indicator-progress {
  height: 100%;
  background-color: #506BF2; /* mavi dolu kısım */
  border-radius: 999px;
  transition: width 0.4s ease;
}