.hb_wrap {
  width: 100%;
  padding: 100px 20px;
  background: linear-gradient(to bottom,  #FFFEF8  0%, #B0B0FF 52%, #B0B0FF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hb_container {
  max-width: 1232px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hb_left {
  width: 100%;
  max-width: 850px;
}

.hb_title {
   font-family: var(--font-lazzer-SemiBold);
  font-size: 42px;
  line-height: 1.1;
  color: #0e0ea0;
  margin-bottom: 20px;
 letter-spacing: -0.04em;
}

.hb_desc {
   font-family: var(--font-lazzer-Medium);
   line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  font-size: 18px;
  margin-bottom: 32px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hb_button {
font-family: var(--font-lazzer-SemiBold);
   background: var(--btn-black-bg);
  color: var(--btn-black-text);
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition:
    background 0.15s ease,
    transform 0.1s ease;
}

.hb_button:hover {
 background: var(--btn-black-bg-hover);
}

@media (max-width: 768px) {
  .hb_wrap {
    padding: 80px 20px;
  }
  
  .hb_title {
    font-size: 36px;
  }
  
  .hb_desc {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hb_wrap {
    padding: 60px 20px;
  }
  
  .hb_title {
    font-size: 28px;
  }
}