.blog-content-container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 80px 0 140px;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 80px;
  align-items: start;
}

.blogs-sidebar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: 100px;
}

.blogs-sidebar-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogs-sidebar-title {
  font-family: var(--font-National-Bold);
  font-size: var(--heading-7);
  line-height: var(--lh-heading-2);
  color: var(--color-heading-1);
  letter-spacing: var(--ls-tight-xl);
}

.blogs-sidebar-excerpt {
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-7);
  line-height: var(--lh-subtitle);
  letter-spacing: var( --ls-tight-md);
  color: var( --color-caption-1);
}

.blogs-sidebar-meta-list {
  display: flex;
  flex-direction: column;
}

.meta-row {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var( --color-bg-yellow-mid);
}

.meta-label {
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-7);
  color: var(--color-caption-1);
}

.meta-value {
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-7);
  color: var(--color-heading-1);
  text-align: right;
}

.blogs-sidebar-social {
  display: flex;
  gap: 10px;
}

.blogs-social-icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-xs);
  background-color: var( --color-bg-yellow-mid);
  color: var(--color-heading-1);
  transition: all 0.2s ease;
}

.blogs-social-icon:hover {
  background-color: var(--color-green-button-bg);
  color: var(--color-green-button-text);
}


.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6{
  font-family: var(--font-National-Bold);
  font-size: var(--heading-6);
  margin: 0 0 16px;
  line-height: var(--lh-heading-2);
  letter-spacing:var(--ls-tight-xl);
  color: var(--color-heading-1);
}


.blog-post-body p {
  margin-bottom: 40px;
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-6);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-subtitle-1);
}

.blog-image-block {
  margin: 0 0 40px 0 ;
}

.blog-image-block img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-sm);
  display: block;
}

.blog-image-caption {
  font-family: var(--font-Geist-Medium);
  text-align: center;
  margin-top: 16px;
  color: var(--color-caption-1);
  font-size: var(--caption-4);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
}


@media (max-width: 1100px) {
  .blog-content-container {
    grid-template-columns: 1fr;
    gap: 60px;
    padding: 60px 24px;
  }

  .blogs-sidebar {
    position: static;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .blog-post-body {
    font-size: 16px;
  }
}
