/* ================= BLOG GRID ================= */

.blog-section-title {
  font-family: var(--font-National-Bold);
  font-size: var(--heading-3);
  color: var(--color-heading-dark-1);
  margin: 0;
  line-height: var(--lh-heading-1);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.blog-container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 80px 0 0 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  /* yatay */
  row-gap: 36px;
  /* dikey */
}

.blog-wrapper.has-hero .blog-container {
  padding-top: 60px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  background-color: var(--color-bg-white);
  border-radius: var(--radius-sm);
  height: 100%;
  box-sizing: border-box;
}

.blog-card-image-wrapper {
  width: 100%;
  height: 220px;
  /* sabit yükseklik */
  border-radius: var(--radius-md);
  overflow: hidden;
}


.blog-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.blog-card:hover .blog-card-image {
  transform: scale(1.05);
}


.blog-card-content {
  padding: 0;
}

.blog-card-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.blog-card-category {
  font-family: var(--font-Geist-Medium);
  font-size: var(--caption-5);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-subtitle-dark-2);
}

.blog-card-meta .badge-dot {
  width: 6px;
  height: 6px;
  background: var(--color-yellow-dark-BG);
  border-radius: 50%;
}

.blog-card-date {
  font-family: var(--font-Geist-Medium);
  font-size: var(--caption-5);
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-subtitle-dark-2);
}

.blog-card-title {
  font-family: var(--font-Geist-SemiBold);
  font-size: var(--subtitle-6);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-dark-2);
  margin: 16px 0 12px 0;
  transition: color 0.2s ease;
  max-width: 330px;
}

.blog-card:hover .blog-card-title {
  color: var(--color-heading-dark-2);
}


.blog-pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 42px;
}

.blog-pagination {
  display: flex;
  gap: 12px;
  align-items: center;
}

.pagination-item {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: var(--font-Geist-Bold);
  font-size: var(--subtitle-7);
  border-radius: var(--radius-sm);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  transition: all 0.25s ease;
  background-color: var(--color-button-white-BG);
  color: var(--color-heading-1);
}

.pagination-item.active {
  background-color: var(--color-button-green-BG);
  color: var(--color-button-green-text);
}

.pagination-item:hover:not(.active) {
  background-color: var(--color-button-green-hover);
  color: var(--color-button-green-text);
}


/* ================= SMALL MOBILE OPTIMIZATION ================= */
@media (max-width: 1300px) {
  .blog-container {
    padding: 80px 40px;
  }

  .blog-wrapper.has-hero .blog-container {
    padding-top: 60px;
  }

  .blog-card-title {
    font-size: 16px;
    max-width: 400px;
  }

  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    /* yatay */
    row-gap: 32px;
  }
}

@media (max-width: 1200px) {
  .blog-container {
    padding: 80px 32px;
  }

  .blog-wrapper.has-hero .blog-container {
    padding-top: 60px;
  }

  .blog-card-title {
    font-size: 18px;
    max-width: 450px;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    /* yatay */
    row-gap: 32px;
  }
}

@media (max-width: 1000px) {
  .blog-container {
    padding: 80px 32px;
  }

  .blog-wrapper.has-hero .blog-container {
    padding-top: 60px;
  }

  .blog-card-title {
    font-size: 18px;
    max-width: 400px;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    /* yatay */
    row-gap: 32px;
  }
}


/* Large Tablet */
@media (max-width: 768px) {
  .blog-section-title {
    font-size: var(--heading-4);
  }

  .blog-wrapper.has-hero .blog-container {
    padding-top: 50px;
  }

  .blog-container {
    padding: 80px 30px;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    /* yatay */
    row-gap: 28px;
  }

  .blog-card-title {
    font-size: 16px;
    max-width: 300px;
  }
}



@media (max-width: 640px) {
  .blog-section-title {
    font-size: var(--heading-4);
  }

  .blog-wrapper.has-hero .blog-container {
    padding-top: 40px;
  }

  .blog-container {
    padding: 70px 24px;
  }

  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }

  .blog-card-title {
    font-size: 18px;
    max-width: 400px;
  }

}


@media (max-width: 430px) {

  .blog-section-title {
    font-size: var(--heading-4);
  }

  .blog-wrapper.has-hero .blog-container {
    padding-top: 40px;
  }

  .blog-container {
    padding: 20px 20px;
  }

  .blog-grid {
    gap: 24px;
  }

  .blog-grid {
    row-gap: 20px;
  }

  .blog-card-title {
    font-size: 16px;
    max-width: 330px;
  }

}