/* SECTION */
.category-section {
  padding: 42px 24px;
  background-color: var(--color-hero-bg-w);
}

/* GRID */
.category-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
}

/* CARD */
.category-card {
  border-radius: 8px;
  max-height: 53px;
  padding: 16px 8px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--color-card-w);
  color: var(--color-heading-h1);
  overflow: hidden;
}

.category-card:hover {
  background: var(--color-card-w-hover);
}

/* NAME */
.category-name {
  font-family: "Graphik-Medium", sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: var(--color-heading-h1);
}

/* IMAGE */
.category-image img {
  width: 40px;
  height: auto;
  object-fit: contain;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .category-grid {
    grid-template-columns: repeat(5, 1fr);
  }
   .category-section {
    padding: 0 0 80px 32px;
  }
}

@media (max-width: 1000px) {
  .category-title {
    font-size: 28px;
    margin: 24px auto;
  }

  .category-section {
    padding: 0 0 80px 32px;
  }

  .category-grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .category-card {
    width: 220px;
    scroll-snap-align: start;
  }

  .category-grid::-webkit-scrollbar {
    display: none;
  }

  .category-grid {
    scrollbar-width: none; /* Firefox */
  }
  .category-image img {
    width: 50px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .category-section {
    padding: 0 0 50px 30px;
  }
  .category-title {
    font-size: 26px;
    margin: 24px auto;
  }

  .category-grid {
    gap: 12px;
  }

  .category-image img {
    width: 50px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 640px) {
  .category-title {
    font-size: 24px;
    margin: 20px auto;
  }
  .category-section {
    padding: 0 0 45px 24px;
  }

  .category-image img {
    width: 50px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 430px) {
  .category-section {
    padding: 0 0 42px 20px;
  }

  .category-name {
    font-size: 15px;
  }

  .category-card {
    height: 60px;
    max-width: 200px;
    padding: 16px 8px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .category-image img {
    width: 50px;
    height: auto;
    object-fit: contain;
  }
}
