.blog-hero-section {
  background-color: var(--color-green-BG);
  padding: 150px 0 110px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.blog-badge {
 font-family: var(--font-Geist-SemiBold);
  font-size: var(--caption-4);
  display: inline-flex;
  align-items: center;
  line-height: var(--lh-caption);
  letter-spacing: var(--ls-tight-md);
  gap: var(--space-2);
  padding: var(--space-2) var(--space-4);
  color: var( --color-caption-light-1);
  background: var(--color-green-light-BG);
  border-radius: var(--radius-sm);
  margin-bottom: 20px;
}

.blog-hero-title {
    font-family: var(--font-National-Bold);
  font-size: clamp(54px, 8vw, 84px);
  line-height: var(--lh-heading-1);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-light-1);
  margin-bottom: 20px;
  max-width: 900px;
}

.blog-hero-subtitle {
   font-family: var(--font-Geist-Medium);
  font-size: clamp(16px, 2.2vw, 18px);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-normal);
  text-align: center;
  color: var(--color-subtitle-white-1);
  margin: 0 auto 40px auto;
  max-width: 600px;
  box-sizing: border-box;
}

.blog-hero-container {
  max-width: var(--container-max-width);
  width: 100%;
  padding: 0;
}

.blog-hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.hero-grid-post {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.hero-image-wrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-md);
  overflow: hidden;
  margin-bottom: 20px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hero-grid-post:hover .hero-image {
  transform: scale(1.05);
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-post-title {
  font-family: var(--font-Geist-Medium);
  font-size: var(--subtitle-5);
  line-height: var(--lh-subtitle);
  letter-spacing: var(--ls-tight-md);
  color: var(--color-heading-white-2);
  max-width: 450px;
  margin: 0 0 12px 0;
}

.post-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fcfde9;
  font-family: var(--font-Geist-Medium);
  font-size: var(--caption-4);
}

.meta-dot {
  width: 5px;
  height: 5px;
  background-color: #fcfde9;
  border-radius: 50%;
  flex-shrink: 0;
}

.read-time-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* Responsive */
@media (max-width: 1300px) {
  .blog-hero-section {
    padding: 160px 40px 120px 40px;
  }

}

@media (max-width: 1200px) {
  .blog-hero-section {
    padding: 160px 32px 110px 32px;
  }

}

@media (max-width: 1000px) {
  .blog-hero-section {
    padding: 150px 32px 110px 32px;
  }

  .blog-hero-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  
}

@media (max-width: 900px) {
  .blog-hero-section {
    padding: 150px 32px 110px 32px;
  }

  .blog-hero-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  
}

@media (max-width: 768px) {
  .blog-hero-section {
  padding: 150px 30px 110px 30px;
 
}
.blog-hero-header {
  padding: 0;
}
  .blog-hero-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .hero-post-title {
    font-size: 18px;
    max-width: 600px;
  }
 
  .blog-hero-subtitle br {
    display: none;
  }
}

@media (max-width: 640px) {
  .blog-hero-section {
    padding: 140px 24px 120px 24px;
  }
 
  .blog-hero-title br {
    display: none;
  }

    .hero-post-title {
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .blog-hero-section {
    padding: 110px 20px 100px 20px;
  }

  .blog-hero-container {
    padding: 0;
  }

  .hero-image-wrapper {
    height: auto;
    aspect-ratio: 16 / 10;
    margin-bottom: 16px;
  }

  .hero-post-title {
    font-size: 16px;
    max-width: 330px;
  }

  .post-meta {
    font-size: 11px;
    gap: 8px;
  }

  .meta-dot {
    width: 4px;
    height: 4px;
  }

  .read-time-icon {
    width: 12px;
    height: 12px;
  }
}
