.blog-detail-hero {
  background-color: var(  --color-hero-bg-w);
  padding: 160px 20px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-detail-hero-inner {
  max-width: 800px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-tag {
  background-color: var(--color-hero-bg-w-hover);
  color: #000000;
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.blog-tag .dot {
  width: 8px;
  height: 8px;
  background-color: #111827;
  border-radius: 50%;
}

.blog-detail-hero-title {
  font-family: "Graphik-SemiBold", sans-serif;
  font-size: 56px;
  color: var(--color-heading-h1);
  letter-spacing: -0.84px;
  margin-bottom: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.blog-detail-hero-description {
  font-family: "Graphik-Regular", sans-serif;
  line-height: 1.3;
  letter-spacing: 0;
  font-size: 16px;
  color: var(--color-description-p1);
  max-width: 800px;
  margin: 24px auto;
}

.blog-detail-hero-image-wrapper {
  width: 100%;
  max-width: 1000px;
  height: auto;
  aspect-ratio: 2 / 1;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 32px;
}

.blog-detail-hero-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .blog-detail-hero {
    padding: 140px 30px 80px;
  }
  .blog-detail-hero-title {
    font-size: 44px;
    max-width: 600px;
  }
   .blog-detail-hero-description {
    font-size: 16px;
    max-width: 700px;
    margin-bottom: 2px;
  }
}

@media (max-width: 768px) {
  .blog-detail-hero {
    padding: 120px 30px 70px;
  }
  
  .blog-detail-hero-title {
    font-size: 40px;
  }
  
  .blog-detail-hero-description {
    font-size: 16px;
    margin-bottom: 2px;
  }
}

@media (max-width: 640px) {
   .blog-detail-hero {
    padding: 120px 24px 70px;
  }
  .blog-detail-hero-title {
    font-size: 34px;
    max-width: 500px;
  }
   .blog-detail-hero-description {
    margin-bottom: 2px;
  }
}

@media (max-width: 430px) {
  .blog-detail-hero {
    padding: 120px 20px 80px;
  }
  .blog-detail-hero-image-wrapper {
    aspect-ratio: 16 / 9;
  }

  .blog-detail-hero-description {
    margin-bottom: 8px;
  }
}