.product-section {
  padding: var(--section-padding);
  background-color: white;
}

.product-section + .product-section {
  padding-top: 0;
  margin-top: -20px; /* 80px - 40px = iki kart arası 40px */
}


.product-container {
  max-width: var(--container-max-width);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: var(--color-hero-bg-w);
  padding: 32px;
  border-radius: 8px;
}

.product-section.reverse .product-container {
  flex-direction: row-reverse;
  gap: 32px;
}

.product-text {
  flex: 1;
}

.product-text h2 {
    font-family: "Graphik-Bold", sans-serif;
  max-width: 500px;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
  color: var( --color-heading-h1);
}

.product-text .desc {
   font-family: "Graphik-Regular", sans-serif;
  font-size: 16px;
  color: var(  --color-description-p1);
  line-height: 1.4;
  margin-bottom: 16px;
}

.product-text p {
  font-family: "Graphik-Regular", sans-serif;
  font-size: 16px;
  color: var(  --color-description-p1);
  line-height: 1.4;
  margin-bottom: 16px;
}

.product-image {
  flex: 1;
  height: 350px;
  background: #e8e0c8;
  border-radius: 6px;
  overflow: hidden; /* Ensure image doesn't overflow border-radius */
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1300px) {
  .product-section {
    padding: 90px 40px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
  .product-section {
    padding: 80px 32px;
  }
  .product-container,
  .product-section.reverse .product-container {
    padding: 38px 32px;
    gap: 42px;
  }
  .product-image {
    width: 100%;
    height: auto;
    min-height: 350px;
  }

    .product-text h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .product-text .desc,
  .product-text p {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .product-section {
    padding: 72px 30px;
  }
  .product-container,
  .product-section.reverse .product-container {
    flex-direction: column;
    padding: 38px 32px;
    gap: 12px;
  }
  .product-image {
    width: 100%;
    height: auto;
    min-height: 250px;
  }

    .product-text h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .product-text .desc,
  .product-text p {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media (max-width: 640px) {
  .product-section {
    padding: 60px 24px;
  }
  .product-container,
  .product-section.reverse .product-container {
    flex-direction: column;
    padding: 32px 24px;
    gap: 4px;
  }
  .product-image {
    width: 100%;
    height: auto;
    min-height: 250px;
  }

    .product-text h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .product-text .desc,
  .product-text p {
    font-size: 15px;
    margin-bottom: 16px;
  }
}

@media (max-width: 430px) {
  .product-section {
    padding: 50px 20px;
  }
  .product-container {
    padding: 32px 24px;
    gap: 4px;
  }
    .product-container, .product-section.reverse .product-container {
    padding: 32px 24px;
    gap: 4px;
  }
  
  .product-text h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .product-text .desc,
  .product-text p {
    font-size: 15px;
    margin-bottom: 16px;
  }
}
